<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snooker database</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class='panel'>
        <header><strong>{{player.first_name}} {{player.last_name}}</strong></header>
        <form action="/player/1/edit" method="GET">
            <label><b>Nickname: {{player.nickname}}</b>
            </label>
            <br>
            <label><b>Turned pro: {{year}}</b>
            </label>
            <br>
            <label><b>Nationality: {{player.nationality}}</b>
                </label>
            <br>
            <label><b>Highest break: {{player.highest_break}}</b>
                 </label>
            <br>
            <label><b>Average Shot Time: {{player.ast}}</b>
            </label>
            <br>
            <button type="submit" class="btn btn-primary normalbutton">Edit</button>
            <br>
            <a href="/">Go back</a>
        </form>
    </div>
</body>